/* filter-modal.component.css */
.ag-theme-alpine {
    width: 100%;
    height: 400px;
  }
  
  #filterPanelContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  